.btn {
  display: block;
  padding: 10px;
  color: $color-default-white;
  background-color: $color-default-black;
  border: 0;
  transition: opacity $trans-default;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
