.competition {
  min-width: 320px;
}

.competition__wrapper {
  display: grid;
  grid-template-columns: 43.1% 56.9%;
  padding: 120px 60px 50px;

  @include vp-1199 {
    padding: 100px 45px 50px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 500px;
    padding: 72px 15px 30px;
  }
}

.competition__content {
  display: grid;
  grid-template-areas:
    "c-title  c-period"
    "c-text   c-text  "
    "c-button c-button";
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(3, min-content);
  column-gap: 15%;
  row-gap: 18px;
  padding: 15.4% 15.3% 14%;
  background-color: $color-torch-red;

  @include vp-1199 {
    grid-template-columns: auto 1fr;
    align-content: center;
    column-gap: 13%;
    row-gap: 2px;
    padding: 13.5% 15.3% 15%;
  }

  @include vp-767 {
    padding: 16% 15.3% 17%;
  }
}

.competition__title {
  grid-area: c-title;
  margin: 0;
  margin-top: 9px;
  font-family: $ff-secondary;
  font-style: normal;
  font-size: 82px;
  line-height: 0.96;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 74px;
  }

  @include vp-1023 {
    margin-top: 4px;
    font-size: 48px;
  }
}

.competition__period {
  grid-area: c-period;
}

.competition__text {
  grid-area: c-text;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-1023 {
    font-size: 12px;
  }
}

.competition__button {
  grid-area: c-button;
  margin-top: 26px;
  padding: 25px 20px 24px;

  @include vp-1199 {
    font-size: 14px;
  }

  @include vp-1023 {
    padding: 13px 20px 12px;
    font-size: 10px;
    line-height: 1.2;
    border-width: 2px;
  }
}

.competition__image {
  position: relative;
  width: 100%;
  padding-top: 75.7%;

  @include vp-1199 {
    padding-top: 75.5%;
  }

  @include vp-767 {
    padding-top: 100.6%;
  }
}

.competition__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
