.video {
  position: relative;
  background-color: $color-dark-cerulean;
  aspect-ratio: 364/228;
  overflow: hidden;

  @include vp-1199 {
    aspect-ratio: 266/167;
  }

  @include vp-767 {
    aspect-ratio: 320/167;
  }
}

.video__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color-dark-cerulean, 0.5);
  }
}

.video__media {
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  border: 0;
}

.video__button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
  background-color: $color-transparent;
  background-image: url("../img/sprite/video-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  transition: transform $trans-default;
  cursor: pointer;

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  @include hover-focus {
    transform: scale(1.1);
  }

  @include active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Классы для JavaScript */

.video.is-available {
  cursor: pointer;
}

.video.is-available .video__button {
  display: block;
}
